html {
    height: 100%;
}

body {
    height: 100%;
}

.team {
    .header {
        //height: 10vh;
        border-bottom: 1px solid black;
    }
    .playerList {
        span.type {
            width: 5px;
            &.GK {
                background-color: green;
            }
            &.DEF {
                background-color: blue;
            }
            &.MID {
                background-color: yellow;
            }
            &.ATT {
                background-color: red;
            }
        }
    }
}

.thumbnail {}
/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */

// injector
// endinjector
