html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 1.7rem;
}

$pastel-red:#FF9999;
$green:green;
$red:red;
$blue:blue;
$yellow:yellow;
.player-overview {
    display: inline-block;
    margin-top: -10px;
    padding-left: 0px;
    padding-right: 0px;
}

.sidepanel {
    display: inline-block;
    height: 50vh;
    margin-top: -10px;
    padding-left: 0px;
    padding-right: 0px;
}

.leagueTable {
    .col-xs-1,
    .col-xs-2 {
        padding: 0px;
    }
    .name {
        width: 55%;
    }
    .wins,
    .draws,
    .losses {
        width: 25px;
    }
}

.team {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    .header {
        border-bottom: 1px solid black;
        .name {
            font-weight: bold;
        }
        .transfers {
            text-align: left;
            width: 25%;
            display: inline-block;
        }
        .gw-points {
            text-align: center;
            width: 45%;
            display: inline-block;
            font-weight: bold;
            font-size: 2rem;
            span {
                font-size: 1rem;
            }
        }
        .played-players {
            text-align: right;
            width: 25%;
            display: inline-block;
        }
    }
    .playerList {
        .player {
            &.played {
                font-weight: bold;
            }
            &.sub {
                background-color: #FFD6CC;
                //background-image: url('assets/images/red-bacground.jpg');
                //background: repeating-linear-gradient( 45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
            }
            &.GK {
                .name div {
                    border-left: 5px solid $green;
                }
            }
            &.DEF {
                .name div {
                    border-left: 5px solid $blue;
                }
            }
            &.MID {
                .name div {
                    border-left: 5px solid $yellow;
                }
            }
            &.ATT {
                .name div {
                    border-left: 5px solid $red;
                }
            }
            .name {
                padding-left: 0px;
                div {
                    padding-left: 4px;
                    height: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .captaincy {
                padding-left: 5px;
                padding-right: 0px;
            }
        }
    }
}

.no-gutter > div {
    padding-right: 0;
    padding-left: 0;
}

.row.no-gutter {
    margin-left: 0px;
    margin-right: 0px;
}

.thumbnail {
    font-family: Helvetica;
}

.subheader {
    background-color: #e7e7e7;
    color: #555;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.fixtures {
    width: 100%;
    td.team {
        text-align: center;
        width: 35%;
    }
    td.vs {
        text-align: center;
    }
    td.score {
        &.home {
            text-align: right;
            padding-right: 5px;
        }
        &.away {
            text-align: left;
            padding-left: 5px;
        }
    }
}

span.current {
    font-weight: bold;
}

div.dot {
    border-radius: 100px;
    height: 8px;
    width: 8px;
    display: inline-block;
    margin-right: 5px;
    &.green {
        background-color: green;
    }
    &.red {
        background-color: red;
    }
    &.blue {
        background-color: blue;
    }
}

.fixtures-mobile {
    margin-top: -10px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}

$svg-radius: 50;
$stroke-width: 4;
$radius: $svg-radius - $stroke-width / 2;
$diameter: $radius * 2;
$pi: 3.14159265359;
$circumference: $pi * $diameter;
$revolution: 2000ms;
$color-steps: 4;
#loader {
    .svg {
        margin: 24px auto;
        display: block;
        animation: svg-rotate $revolution * $color-steps linear infinite;
    }
}

circle {
    fill: transparent;
    stroke: #5e5e5e; // overridden in animation
    stroke-width: $stroke-width;
    stroke-linecap: round;
    stroke-dasharray: 0, $circumference;
    animation: stroke-dash $revolution linear infinite, stroke-width $revolution linear infinite, stroke-color $revolution * $color-steps steps($color-steps) infinite;
}

// slowly rotating the whole svg
@keyframes svg-rotate {
    to {
        transform: rotate(360deg);
    }
}

// animating the stroke width
@keyframes stroke-width {
    // fade-ish feels
    0%,
    100% {
        stroke-width: 0;
    }
    // throttle til circle is almost complete
    45%,
    55% {
        stroke-width: $stroke-width / 2;
    }
    // pump it up
    50% {
        stroke-width: $stroke-width;
    }
}

// offsetting and lengthening the stroke dash
@keyframes stroke-dash {
    0% {
        // draw circle
        stroke-dasharray: 0, $circumference;
        stroke-dashoffset: 0;
    }
    50% {
        // complete circle
        stroke-dasharray: $circumference, 0;
        stroke-dashoffset: 0;
    }
    100% {
        // undraw circle
        stroke-dasharray: $circumference, $circumference;
        stroke-dashoffset: -$circumference;
    }
}

// stepped color animation
@keyframes stroke-color {
    from {
        stroke: #5e5e5e;
    }
    //to   { stroke: white; } // unnecessary if white
}


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */

// injector
// endinjector
