<div>Who are you ? <span ng-show="vm.selectedPlayer">You are <b>{{vm.selectedPlayer.firstName}} {{vm.selectedPlayer.lastName}}</b></span></div>


<div> Wanna change ?</div>
<select class="form-control" ng-options="player as player.firstName for player in vm.players" 
   ng-model="vm.selectedPlayer" ng-change="vm.playerChanged()"></select>


   <div class="setting">Show Current Fixtures on top  of mobile ?<input type="checkbox"
       ng-model="vm.showCurrentFixturesMobile" ng-change="vm.currentFixMobileChange()"></div>